/* MAIN COLORS & FONT SIZES */
:root {
    --main-text-color: black;
    --question-font-size: 2.2rem;
    --answer-button-color: hsl(352, 34%, 47%);
    --answer-button-text-color: hsl(0, 0%, 100%);
    --answer-button-font-size: 1.5rem;
    --all-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: var(--all-font-family);
}

/* BUTTON EFFECTS */
#start-btn:hover,
#choiceA:hover,
#choiceB:hover,
#results-submit:hover,
#play-again-btn:hover {
    background-color: hsla(353, 48%, 37%, 0.961);
}

button:active {
    transform: translateY(5px);
    transition: 100ms;
}

/* ALL BOX STYLING */
.box-style {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: var(--main-text-color);
    padding: 4%;
    text-align: center;
}

/* START BOX */
#start-box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: var(--question-font-size);
}

p {
    font-size: var(--answer-button-font-size);
    margin-left: 20%;
    margin-right: 20%;
}

#start-btn {
    font-size: var(--answer-button-font-size);
    display: inline-block;
    border-style: dotted;
    border-radius: 10px;
    border-width: 8px;
    border-color: hsla(353, 48%, 37%, 0.961);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: var(--answer-button-color);
    color: var(--answer-button-text-color);
    padding: 1.2%;
    margin-top: 1.5%;
    text-align: center;
}

/* QUESTION BOX */
#question-box {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    font-size: 1rem;
    text-align: right;
    display: none;
}

#image {
    max-width: 80%;
}

#choiceA,
#choiceB {
    display: inline-block;
    border-style: none;
    border-radius: 10px;
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: var(--answer-button-color);
    color: var(--answer-button-text-color);
    font-size: var(--answer-button-font-size);
    font-family: var(--all-font-family);
    padding: 3.5%;
    margin-top: 1.5%;
    width: 100%;
    text-align: left;
}

#feedback-message {
    font-size: 1.5rem;
    text-align: center;
}

/* GAME OVER MESSAGES */
#end-game-message {
    font-size: 1.5rem;
}


/* RESULTS BOX */
#results-box {
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#results-form {
    text-align: left;
}

label {
    padding-right: 2%;
}

input {
    width: 91%;
}

#initials {
    font-size: 1rem;
    padding: 2%;
}

#results-submit-align {
    text-align: center;
}

#results-submit {
    font-size: var(--answer-button-font-size);
    display: inline-block;
    border-style: dotted;
    border-radius: 10px;
    border-width: 7px;
    border-color: hsla(353, 48%, 37%, 0.961);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: var(--answer-button-color);
    color: var(--answer-button-text-color);
    padding: 1.5%;
    margin-top: 5%;
}

#players-text {
    text-align: left;
}

#players-list {
    font-size: 1.3rem;
    text-align: left;
}

#play-again-btn {
    font-size: var(--answer-button-font-size);
    display: inline-block;
    border-style: dotted;
    border-radius: 10px;
    border-width: 7px;
    border-color: hsla(353, 48%, 37%, 0.961);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: var(--answer-button-color);
    color: var(--answer-button-text-color);
    padding: 1.5%;
    margin-top: 1.5%;
    text-align: center;
}

/* RESPONSIVENESS */

/* XXS */
@media (min-width: 300px) and (max-width: 400px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 1.8rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1rem;
        padding: 1.8%;
        border-width: 5px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .75rem;
        text-align: center;
    }
    #timer {
        font-size: .7rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 1.8rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1rem;
    }
    #players-list {
        font-size: .8rem;
    }
}

/* XS */
@media (min-width: 401px) and (max-width: 500px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 1.8rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1rem;
        padding: 1.8%;
        border-width: 5px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .75rem;
        text-align: center;
    }
    #timer {
        font-size: .7rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 1.8rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1rem;
    }
    #players-list {
        font-size: .8rem;
    }
}

/* S */
@media (min-width: 501px) and (max-width: 600px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 1.8rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1rem;
        padding: 1.5%;
        border-width: 5px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .75rem;
        text-align: center;
    }
    #timer {
        font-size: .7rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 1.8rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1rem;
    }
    #players-list {
        font-size: .8rem;
    }
}

/* S */
@media (min-width: 601px) and (max-width: 700px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 1.8rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1rem;
        padding: 1.5%;
        border-width: 5px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .75rem;
        text-align: center;
    }
    #timer {
        font-size: .7rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 1.8rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1rem;
    }
    #players-list {
        font-size: .8rem;
    }
}

/* M */
@media (min-width: 701px) and (max-width: 800px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 1.8rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1rem;
        padding: 1.5%;
        border-width: 5px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: .7rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 1.8rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1rem;
    }
    #players-list {
        font-size: .85rem;
    }
}

/* LG */
@media (min-width: 801px) and (max-width: 900px){
    .box-style {
        margin-right: -30%;
    }
    p {
        font-size: 1.2rem;
        margin-left: 14%;
        margin-right: 14%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 2rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1.1rem;
        padding: 1.5%;
        border-width: 6px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: 1rem;
    }
    #image {
        max-width: 100%;
    }
    #question {
        font-size: 2rem;
    }
    #choiceA,
    #choiceB,
    h2,
    h3,
    #end-game-message{
        font-size: 1.1rem;
    }
    #players-list {
        font-size: .9rem;
    }
}

/* LG */
@media (min-width: 901px) and (max-width: 1000px){
    .box-style {
        margin-right: -30%;
        max-width: 70%;
    }
    p {
        font-size: 1.2rem;
        margin-left: 14%;
        margin-right: 14%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 2rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1.1rem;
        padding: 1.5%;
        border-width: 6px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: 1rem;
    }
    #image {
        max-width: 80%;
    }
    #question {
        font-size: 2rem;
    }
    #choiceA,
    #choiceB {
        font-size: 1.1rem;
        max-width: 80%;
    }
    h2,
    h3,
    #end-game-message{
        font-size: 1.1rem;
    }
    #players-list {
        font-size: .9rem;
    }
}

/* XL */
@media (min-width: 1001px) and (max-width: 1500px){
    .box-style {
        margin-right: -30%;
        max-width: 60%;
    }
    p {
        font-size: 1.2rem;
        margin-left: 18%;
        margin-right: 18%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 2.1rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1.2rem;
        padding: 1.1%;
        border-width: 6px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: 1rem;
    }
    #image {
        max-width: 80%;
    }
    #question {
        font-size: 2rem;
    }
    #choiceA,
    #choiceB {
        font-size: 1.1rem;
        max-width: 80%;
    }
    h2,
    h3,
    #end-game-message{
        font-size: 1.1rem;
    }
    #players-list {
        font-size: .9rem;
    }
}

/* 2XL */ 
@media (min-width: 1501px) and (max-width: 2000px){
    .box-style {
        margin-right: -30%;
        max-width: 40%;
    }
    p {
        font-size: 1.3rem;
        margin-left: 20%;
        margin-right: 20%;
    }
    h1 {
        font-size: 1.8rem;
    }
    #start-box-title {
        font-size: 2.4rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1.3rem;
        padding: 1.1%;
        border-width: 7px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: 1rem;
    }
    #image {
        max-width: 80%;
    }
    #question {
        font-size: 2.4rem;
    }
    #choiceA,
    #choiceB {
        font-size: 1.3rem;
        max-width: 80%;
    }
    h2,
    h3,
    #end-game-message{
        font-size: 1.2rem;
    }
    #players-list {
        font-size: 1rem;
    }
}

/* 3XL */
@media (min-width: 2001px) and (max-width: 2500px){
    .box-style {
        margin-right: -30%;
        max-width: 27%;
    }
    p {
        font-size: 1.3rem;
        margin-left: 17%;
        margin-right: 17%;
    }
    h1 {
        font-size: 2rem;
    }
    #start-box-title {
        font-size: 2.4rem;
    }
    #start-btn,
    #results-submit,
    #play-again-btn {
        font-size: 1.3rem;
        padding: 1.1%;
        border-width: 7px;
    }
    input {
        height: 10px;
    }
    input::placeholder {
        font-size: .8rem;
        text-align: center;
    }
    #timer {
        font-size: 1rem;
    }
    #image {
        max-width: 90%;
    }
    #question {
        font-size: 2.4rem;
    }
    #choiceA,
    #choiceB {
        font-size: 1.3rem;
        max-width: 90%;
    }
    h2,
    h3,
    #end-game-message{
        font-size: 1.2rem;
    }
    #players-list {
        font-size: 1rem;
    }
}
