:root {
    --main-text-color: black;
    --question-color: green;
    --question-font-size: 2.2rem;
    --answer-button-color: rgb(156, 199, 156);
    --answer-button-font-size: 1.5rem;
    --all-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: var(--all-font-family);
}

h1,
#question {
    font-size: var(--question-font-size);
}

p {
    font-size: var(--answer-button-font-size);
    margin-left: 15%;
    margin-right: 15%;
}

button:hover {
    background-color: hsla(15, 87%, 30%);;
}

button:active {
    transform: translateY(3px);
    transition: 100ms;
}

#start-btn {
    font-size: var(--answer-button-font-size);
    display: inline-block;
    border-style: dotted;
    border-radius: 10px;
    border-width: 8px;
    border-color: hsla(353, 48%, 37%, 0.961);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: hsl(352, 34%, 47%);
    color: hsl(0, 0%, 100%);
    padding: 1.2%;
    margin-top: 1.5%;
    text-align: center;
    cursor: pointer;
}

.box-style {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: var(--main-text-color);
    padding: 4%;
    text-align: center;
}

#start-box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question-box {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#results-box {
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    font-size: var(--answer-button-font-size);
    text-align: left;
}

#timer {
    text-align: right;
    font-size: 1rem;
}

#image {
    max-width: 80%;
}

#choiceA,
#choiceB {
    display: inline-block;
    border-style: none;
    border-radius: 10px;
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 0px 0px 1.5px;
    background-color: hsla(352, 48%, 43%, 0.864);
    color: hsl(0, 0%, 100%);
    font-size: var(--answer-button-font-size);
    font-family: var(--all-font-family);
    padding: 3.5%;
    margin-top: 1.5%;
    width: 100%;
    text-align: left;
    cursor: pointer;
}